{{ define "title" }}
    {{ .Title }}
{{ end }}

{{ define "customCSS" }}
    <link rel="stylesheet" href="/plugins/lightgallery/css/lightgallery.css">
{{ end }}


{{ define "main" }}

<section class="mx-2 md:mx-auto max-w-6xl my-16">
    <div class="my-16 flex flex-col justify-center items-center">
        <img src="/svg/hobby.svg" class="h-[150px]" />
        <h2 class="text-gray-700 text-lg font-semibold">
            A compendium of ideas, lecture notes, hobbies and some interesting stuffs I have collected over time!
        </h2>
    </div>

    <div class="border-b border-gray-200">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
            <li class="me-2">
                <button class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 text-gray-400 group" data-tab="tutorials">
                    <i class="fa-solid fa-book w-4 h-4 me-2 group-hover:text-gray-500"></i>
                    Tutorials
                </button>
            </li>
            <li class="me-2">
                <button class="tab-link inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg text-gray-400 border-transparent hover:text-gray-600 hover:border-gray-300 group" data-tab="ideas">
                    <i class="fa-solid fa-lightbulb w-4 h-4 me-2 group-hover:text-gray-500"></i>
                    Idea Closet
                </button>
            </li>
            <li class="me-2">
                <button class="tab-link inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg group text-blue-600 border-blue-600 active" data-tab="3darts">
                    <i class="fa-solid fa-paint-roller w-4 h-4 me-2"></i>
                    3D Arts
                </button>
            </li>
        </ul>
    </div>

    <!-- Tab Contents -->
    <div class="mt-4">
      <div class="tab-content hidden" id="tutorials">
        <div class="my-3 grid grid-cols-1 md:grid-cols-6 bg-green-100 w-full">
            <div class="col-span-1 text-center p-4">
              <h3 class="text-green-800 text-2xl font-semibold pb-4">
                Notes, Tutorials
              </h3>
              <p class="text-green-800 text-sm font-light">
                A collection of interesting notes, tutorials, and blog posts.
              </p>
            </div>
            <div class="col-span-5">
              {{ range .Params.tutorials }}
              <div class="border-b-2 border-blue-800 py-2 my-2" key={topic.label}>
                <h2 class="text-normal text-gray-500"><span class="font-semibold text-blue-800">
                    {{ .label }}
                </span> - {{ .description }}</h2>
                <ul class="ml-4 text-sm text-gray-500 list-disc list-inside dark:text-gray-400 space-y-1 my-4 flex flex-row flex-wrap gap-4 items-center justify-left">
                    {{ range .links }}
                        <li>
                        <a href="{{ .url }}" target="_blank" class="text-blue-600 hover:text-underline hover:text-blue-800 focus:text-underline focus:text-blue-800">
                          {{ .title }}
                        </a>
                      </li>
                    {{ end }}
                </ul>
               </div>
               {{ end }}
            </div>
        </div>
      </div>
      <div class="tab-content hidden" id="ideas">
        <p>This is the content of Tab 2.</p>
      </div>
      <div class="tab-content hidden" id="3darts">
        <div class="grid grid-cols-1 md:grid-cols-6 bg-red-100 w-full">
            <div class="col-span-1 text-center p-4">
                <h3 class="text-red-800 text-2xl font-semibold pb-4">3D Arts</h3>
                <p class="text-red-800 text-sm font-light">
                    Some 3D models I have created using Blender, Bryce 3D, Wings 3D.
                </p>
            </div>
            <div class="col-span-5">
                <div id = "gallery" class="py-8 mx-4 grid grid-cols-2 md:grid-cols-6 gap-4 justify-start items-center">
                    {{ range resources.Match "/3darts/*.*" }}
                        {{ $image := .Fit "300x150 q90" }}
                        <div data-src = "{{ .Permalink }}" class="item">
                            <img
                                src="{{ $image.Permalink }}"
                                class="w-[300px] h-[100px] object-cover hover:scale-105 rounded-md border-2 cursor-pointer"
                            />
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
      </div>
    </div>
</section>


{{ partial "footer.html" . }}
{{ end }}



{{ define "pageScripts" }}

<!-- lightgallery plugins -->
<script src="/plugins/lightgallery/js/lightgallery.js" async></script>
<script src="/plugins/lightgallery/js/lg-thumbnail.js" async></script>
<script src="/plugins/lightgallery/js/lg-fullscreen.js" async></script>

<script>
    $(document).ready(() => {
        $("#gallery").lightGallery({
            selector: '.item'
        });


        // tabination logic
        function activateTab(tabId) {
            // Hide all content and remove active classes
            $(".tab-content").addClass("hidden");
            $(".tab-link").removeClass("text-blue-600 border-blue-600 active");
            $(".tab-link").addClass("text-gray-400 border-transparent hover:text-gray-600 hover:border-gray-300");

            // Show the current tab content and highlight the tab
            $(`#${tabId}`).removeClass("hidden");
            $(`[data-tab="${tabId}"]`).removeClass("text-gray-400 border-transparent hover:text-gray-600 hover:border-gray-300");
            $(`[data-tab="${tabId}"]`).addClass("text-blue-600 border-blue-600 active");
        }

        // Event listener for tabs
        $(".tab-link").click(function () {
            const tabId = $(this).data("tab");
            activateTab(tabId);
        });

        // Check URL for tab id
        const urlParams = new URLSearchParams(window.location.search);
        const activeTab = urlParams.get("tab");
        if (activeTab) {
            activateTab(activeTab);
        } else {
            // Default to the first tab
            activateTab("tutorials");
        }
    })
</script>

{{ end }}