{{ define "title" }} {{ .Title }} {{ end }} 
{{ define "main" }}
<section>
  <div
    class="my-8 max-w-6xl mx-auto flex flex-row justify-center gap-4 items-center"
  >
    <p class="font-base text-neutral-800 text-xl">
      My <span class="text-2xl font-semibold text-blue-600">Life Goal</span> is
      to try unwrapping the gift of knowledge
    </p>
    <img src="/svg/infinityBox.svg" class="w-full max-w-[50px] max-h-[50px]" />
  </div>

  <!-- Publicatio Row start -->
  <div class="px-8 w-full grid grid-cols-6">
    <div class="col-span-1 flex flex-col gap-0">
      <button
        id="publication-tab"
        class="tab-buttons flex flex-col items-center py-4 text-blue-700 rounded-lg cursor-pointer hover:text-white hover:bg-gradient-to-r hover:from-blue-600 hover:to-indigo-700 hover:from-50% transition-all ease-in-out"
      >
        <img src="/svg/book.svg" class="w-[150px] p-4 rounded-lg bg-white" />
        <p>Publications</p>
      </button>

      <button
        id="talk-tab"
        class="tab-buttons flex flex-col items-center py-4 text-blue-700 rounded-lg cursor-pointer hover:text-white hover:bg-gradient-to-r hover:from-blue-600 hover:to-indigo-700 hover:from-50% transition-all ease-in-out"
      >
        <img
          src="/svg/undraw_teaching.svg"
          class="w-[150px] p-4 rounded-lg bg-white"
        />
        <p>Talks</p>
      </button>
    </div>

    <div class="col-span-5 flex flex-col gap-0">

      <!-- Show all publications -->
      <div class="tab-content flex flex-col gap-4" id="publication-tab-content">
        {{ range .Params.publications }}
        <div class="px-4 py-2 bg-gray-100 w-full shadow-lg rounded-md">
          <h3 class="font-semibold text-blue-700 text-lg">{{ .title }}</h3>
          <div class="flex flex-row gap-2 items-center">
            {{ range $index, $author := .authors }}
            <p>
              {{ . }}
              <span class="text-black">|</span>
            </p>
            {{ end }}
            <p class="ml-auto mr-8 text-white text-sm font-light">
              {{ time.Format "2 Jan 2006" (time.AsTime .date) }}
            </p>
          </div>
          <p class="mt-2 pt-2 border-t-[1px] border-t-gray-300 text-sm">
            {{ .summary }}
          </p>
          <div class="pt-4 pb-2 grid grid-cols-2">
            <div class="col-span-1 flex flex-col gap-1 p-2">
              {{ range .links }}
              <a
                href="{{ .url }}"
                class="text-blue-600 text-sm hover:underline cursor-pointer"
              >
                {{ if (eq .type "arxiv") }}
                  <i class="ai ai-arxiv"></i>
                  Preprint 
                {{ else if (eq .type "report" ) }}
                  <i class="ai ai-open-access"></i>
                  {{ .detail }} 
                {{ else if (eq .type "journal" ) }}
                  <i class="ai ai-doi"></i>
                  {{ .detail }} 
                {{ else if (eq .type "code" ) }}
                  <i class="fa fa-code"></i>
                  Code 
                {{ end }}
              </a>
              {{ end }}
            </div>
            <div class="col-span-1 flex flex-row-reverse flex-wrap-reverse gap-2">
              {{ range .tags }}
              <a
                href="/tags"
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:underline hover:bg-gray-300 transition ease-in-out"
              >
                {{ . }}
              </a>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>

      <!-- Show all talks -->
      <div class="tab-content flex flex-col gap-4" id="talk-tab-content">
        {{ range .Params.talks }}
        <div class="px-4 py-2 bg-gray-100 w-full shadow-lg rounded-md">
          <div class="flex flex-row items-center">
            <p class="text-blue-600">{{ time.Format "2 Jan 2006" (time.AsTime .date) }}</p>
            <h3 class="ml-auto font-semibold text-black text-lg">{{ .title }}</h3>            
          </div>
          <p class="text-right text-gray-700 text-sm">{{ .summary }}</p>
          <a href="{{ .url }}" target="_blank" class="text-black underline cursor-pointer"><i class="fas fa-microphone-lines"></i> Slides</a>
          <div class="mt-2 w-full flex flex-row-reverse flex-wrap-reverse gap-2">
            {{ range .tags }}
            <a
              href="#"
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:underline hover:bg-gray-300 transition ease-in-out"
            >
              {{ . }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>

    </div>
  </div>
</section>

{{ partial "footer.html" . }} 
{{ end }}

{{ define "pageScripts" }}
<script>
    $(document).ready(() => {
      $('.tab-buttons').click(function() {
        $('.tab-content').slideUp();
      });

      $('#publication-tab').click(function() {
        $('#publication-tab-content').slideDown();
      });

      $('#talk-tab').click(function() {
        $('#talk-tab-content').slideDown();
      })
    })
</script>
{{ end }}
