{{ define "title" }} Authors {{ end }} {{ define "main" }}

<section class="max-6-xl mx-4 md:mx-auto my-8 bg-white dark:bg-gray-900">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="text-2xl font-semibold text-center text-gray-600 capitalize lg:text-3xl dark:text-white">
                Our Team of <span class="text-blue-600 font-semibold">Wizards</span>
            </h1>
    
            <p class="max-w-2xl mx-auto my-6 text-center text-gray-500 dark:text-gray-300">
                {{ .Params.story }}
            </p>
    
            <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-2">
                {{ range .Data.Terms }}
                    <div class="px-12 py-8 transition-all duration-300 transform border rounded-xl hover:border-transparent hover:bg-neutral-400 hover:text-white group">
                        <div class="flex flex-col sm:-mx-4 sm:flex-row">
                            <a href="{{ .Page.Params.website }}" target="_blank" class="hover:cursor-pointer">
                                <img class="flex-shrink-0 object-cover w-24 h-24 rounded-full sm:mx-4 ring-4 ring-gray-300" 
                                    src="/{{ .Page.Params.avatar }}" alt=""
                                />
                            </a>
                            <div class="mt-4 sm:mx-4 sm:mt-0">
                                <a href="{{ .Page.Params.website }}" target="_blank" class="text-xl font-semibold text-{{ .Page.Params.color }} hover:cursor-pointer hover:underline group-hover:text-white capitalize md:text-2xl dark:text-white">
                                    {{ .Page.Params.title }}
                                </a>
        
                                <p class="mt-2 capitalize text-gray-500 group-hover:text-gray-50">
                                    {{ .Page.Params.origname }}
                                </p>
                            </div>
                        </div>

                        <p class="mt-4 text-gray-500 capitalize dark:text-gray-300 group-hover:text-gray-50 prose">
                            {{ .Page.Params.description }}
                            {{ range $index, $val :=  .Page.Params.affiliations }}
                                {{ if eq $index 0 }}
                                    I am currently 
                                {{ else }}
                                    and
                                {{ end }}
                                {{ $val | markdownify }}
                            {{ end }}
                        </p>

                        <div class="flex mt-4 -mx-2">
                            {{ range .Page.Params.socials }}
                                <a href="{{ .link }}" class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300 group-hover:text-white">
                                    <i class="{{ .icon }} fa-lg"></i>
                                </a>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
</section>

{{ end }}
