
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,500;1,900&display=swap" rel="stylesheet">

<!-- JQuery CDN -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<!-- Icons -->
<script src="https://kit.fontawesome.com/ca14d5004b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css">


<!-- Main Tailwind CSS Pipe -->
{{ $css := resources.Get "css/index.css" | fingerprint "md5" }}
<link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />
<!-- Tailwind CSS Pipe end -->

<!-- Tailwind developer CDN -->
<!-- <script src="https://cdn.tailwindcss.com"></script> -->

<link rel="stylesheet" href="/css/paginatorStyle.css">

<style>
  html {
      scroll-behavior: smooth;
  }
</style>


<!-- Mathjax CDN -->
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Animate CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>