{{ define "main" }}

<!-- Hero Section -->
<section
  class="min-h-[100vh] mx-4 md:mx-auto max-w-6xl grid grid-cols-2 gap-2"
>
    <div class="min-h-[100vh] flex flex-col gap-6 justify-center">
        <h1 id="typehead" class="text-blue-600 text-4xl md:text-6xl">            
        </h1>
        <p
            class="text-light text-xl md:text-xl animate__animated animate__fadeIn animate__delay-2s text-gray-700"
        >
            and unravel the magic of statistics in your daily lives by engaging with a range of contents and posts about statistics, mathematics, computer science and personal finance.
        </p>
        <a
            class="py-2 px-6 rounded-md border-2 text-blue-600 
                border-blue-600 bg-white hover:bg-blue-600 
                focus:bg-blue-600 hover:text-white focus:text-white 
                hover:border-white font-semibold transition ease-in-out 
                max-w-[200px] text-center animate__animated animate__fadeIn animate__delay-2s"
            href="/posts"
        >
            Explore Posts
        </a>
    </div>
    <div>
        <img src="/images/cover-1.png"/>
    </div>
</section>

<!-- A basic about me section -->
<section class="py-8 mx-4 md:mx-auto max-w-6xl">
    <h1 class="mb-4 text-center text-blue-600 text-4xl md:text-6xl">
        About Me
    </h1>
    <p class="max-w-4xl text-lg md:mx-auto text-justify break-words text-gray-700">
        I am <span class="text-blue-600 font-semibold">{{ .Params.title }}, </span> 
        {{ .Params.subtitle }}
    </p>
    <p class="max-w-4xl text-lg md:mx-auto text-justify break-words text-gray-700">
      {{ range $bioitem_index, $bioitem_val := .Params.biolist }}
          {{ if eq $bioitem_index 0 }}
              I am currently 
          {{ else }}
              and
          {{ end }}
          <span class="font-semibold text-gray-900">{{ $bioitem_val.bio | markdownify }}</span>
          at 
          <span class="font-semibold text-blue-700 hover:text-blue-900 hover:cursor-pointer">{{ $bioitem_val.affiliation | markdownify }}</span>
      {{ end }}.
      {{ .Params.story }}
    </p>
    <div class="mt-8 mx-auto flex flex-row gap-4 justify-center items-center">
      <a href="/aboutme"
        class="px-6 py-2 bg-gradient-to-br from-blue-400 to-blue-600 rounded-full shadow-2xl cursor-pointer text-white
        transition-all duration-300 ease-in-out hover:bg-gradient-to-bl hover:from-white hover:to-blue-50 hover:text-blue-600 hover:border-2 hover:border-blue-500">
        More about me
      </a>
      <a 
        href="cv.pdf"
        class="px-6 py-2 hover:bg-gradient-to-br hover:from-blue-400 hover:to-blue-600 rounded-full shadow-2xl cursor-pointer hover:text-white
        transition-all duration-300 ease-in-out bg-white text-blue-600 border-2 border-blue-500">
        Download my CV
      </a>
    </div>
</section>



<!-- Contact Me CTA Section -->
<section
  id="contact-me"
  class="py-8 mt-16 w-[100vw] bg-gradient-to-r from-neutral-900 to-black"
>
  <div class="max-w-6xl mx-auto my-8 text-white text-center">
    <p class="font-normal text-2xl py-4">Reach out to me via</p>
    <!-- Social media icons container -->
    <div class="flex flex-row justify-center items-center mx-auto gap-4">
      {{ range .Site.Params.social }}
      <a
        href="{{ .link }}"
        class="m-2 p-4 h-[55px] w-[55px] flex justify-center items-center
                    rounded-full border-2 border-white border-solid text-white transition-all 
                    duration-500 ease-in-out
                    hover:bg-{{ .color }} focus:bg-{{ .color }} hover:text-white focus:text-white"
      >
        <i class="{{ .icon }} fa-2x"></i>
      </a>
      {{ end }}
    </div>
  </div>
</section>




{{ end }}

{{ define "pageScripts" }}

<!-- Setup and start animation! -->
<script>
    var typed = new Typed('#typehead', {
      strings: ["Hi, ^400 Let's make you a StatWizard"],
      typeSpeed: 20,
      showCursor: false
    });
</script>

{{ end }}