{{ define "main" }}

<!-- Main section -->
<div
  class="w-[200px] h-[200px] absolute inset-x-1/2 inset-y-1/2 -ml-[100px] -mt-[100px] rounded-full border-4 border-l-blue-600 border-b-blue-600 border-r-white border-t-white rotate-45 shadow-lg"
>
  <img src="/images/logo.png" class="w-full h-full rounded-full -rotate-45" />
</div>
<section class="overflow-x-hidden w-full m-0 p-0 h-[100vh] grid grid-cols-2">
  <div class="bg-white text-blue-600 col-span-1 w-full h-full flex flex-col">
    <div class="mt-32 mr-[150px] ml-auto">
      <h1
        id="typehead"
        class="ml-8 mx-auto text-blue-600 text-4xl font-semibold"
      ></h1>
      <div class="mt-2 ml-8">
        <p
          class="text-light text-md md:text-md animate__animated animate__fadeIn animate__delay-2s text-gray-700"
        >
          I am {{ .Params.subtitle }}
        </p>
      </div>
      <div class="mt-4 pl-4 flex flex-col">
        {{ range $bioitem_index, $bioitem_val := .Params.biolist }}
        <p
          class="text-light text-md md:text-md animate__animated animate__fadeIn animate__delay-2s text-gray-700 text-right"
        >
          {{ if eq $bioitem_index 0 }} I am currently {{ else }} and {{ end }}
          <span class="font-semibold">
            {{ $bioitem_val.bio | markdownify }}
          </span>
          at
          <span
            class="font-semibold text-blue-700 hover:text-blue-900 cursor-pointer"
          >
            {{ $bioitem_val.affiliation | markdownify }}
          </span>
        </p>
        {{ end }}
      </div>

      <!-- Menu choices -->
      <div class="mt-16 pl-auto flex flex-col gap-1 items-end">
        {{ range .Site.Menus.main }}
        <a
          href="{{ .URL | relURL }}"
          class="text-black hover:text-blue-600 hover:border-b-2 hover:border-b-blue-600 transition transition-all ease-in-out roboto-medium py-0 my-0"
        >
          {{ .Name }}
        </a>
        {{ end }}
        <a
          href="/cv/cv.pdf"
          class="text-black hover:text-blue-600 hover:border-b-2 hover:border-b-blue-600 transition transition-all ease-in-out roboto-medium py-0 my-0"
        >
          CV
        </a>
      </div>
    </div>
  </div>
  <div
    class="bg-gradient-to-r from-blue-600 to-indigo-700 from-50% text-white col-span-1 w-full h-full"
  >
    <!-- Statwizard -->
    <div class="mt-32 mr-auto ml-[150px] pr-8 text-left">
      <p class="mb-8 font-semibold">
        I also actively maintain a blog, discussing various interesting concepts
        and applications of statistics, mathematics, computer science and
        personal finance.
      </p>
      <a href="/posts" class="group text-white text-lg font-bold">
        Explore the blog posts &rarr;
        <span
          class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-white"
        ></span>
      </a>

      <!-- Support -->
      <div class="mt-16">
        <p class="italic">
          StatWizard will always be a free haven for those who wants to master
          the wizardry of statistics, without any ads or any paywalls. However,
          you can always support my research by tossing a few coins, or reaching
          out to me for collaboration.
        </p>
        <div class="flex flex-row gap-6 justify-center mt-6">
          <a href="https://www.buymeacoffee.com/statwizard"
            ><img
              src="https://img.buymeacoffee.com/button-api/?text=Support StatWizard&emoji=🤝&slug=statwizard&button_colour=40DCA5&font_colour=ffffff&font_family=Poppins&outline_colour=000000&coffee_colour=FFDD00"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }} {{ define "pageScripts" }}

<!-- Setup and start animation! -->
<script>
  var typed = new Typed("#typehead", {
    strings: ["Hi, ^400 I am Subhrajyoty 👋🏽"],
    typeSpeed: 20,
    showCursor: false,
  });
</script>

{{ end }}
